.div-box{


    /* background-color: aqua; */
}

.container{
  width:50vw;
  height :100vh;

    display:flex;
    flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: rgb(20, 22, 22); */
  

}

.quiz-box{
    background-color: rgb(64, 158, 255);
    width:100%;
    text-align: center;
    padding: 0.2rem;
    
   
}
.ques-box{
color:black;
 margin: 2rem;
 background-color: aliceblue;

}
.ques-box{
    padding: 1rem;

}
.back-btn{
    margin: 0.8rem;
}

