.div-box{


    /* background-color: aqua; */
}

.container{
 

     width: 90%;
    max-width: 600px;
    min-height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.quiz-box{
    width: 100%;
    text-align: center;
}

.ques-box{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background: aliceblue;
}

button{
    padding: 10px 20px;
    font-size: 1rem;
}

.back-btn{
    margin: 0.8rem;
}
li{
    list-style-type:circle;
    
}
