
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
        background-color: black;
    padding: 0.5rem;
    font-size: 16px;
    min-height: 100vh;

}

.container{
    color:white;
    margin: 0 auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 0.6rem;
    
}

button{
        border-radius: 0.5rem;
        padding: 0.5rem;
       
    cursor: pointer;
font-size: 0.9rem;
border-radius:6px;

}

.gen-btn:active{
    background-color: bisque;

}
.gen-btn:hover{
    background-color: aquamarine;
}

ul{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    margin:1rem
}
li{
     
     padding: 0.5rem 2rem; 
     width:100%;
     border-radius:1rem;

     
     list-style-type: style;
}
.div{
    display:flex; 
    gap:0.5rem;

}
.deleteBtn{
padding: 0.5rem 2rem;
}